$breakpoint-small: 320px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

$container-paddings-small: 20px;
$container-paddings-medium: 20px;
$container-paddings-large: 80px;

$font-base: "Montserrat", sans-serif;

$color-white: rgb(255, 255, 255);
$color-white-darker: rgb(248, 248, 248);
$color-white-darkest: rgb(242, 242, 242);

$color-gray: rgba(0, 0, 0, 0.32);
$color-gray-lighter: rgba(0, 0, 0, 0.16);

$color-black: rgb(0, 0, 0);
$color-black-light: rgba(0, 0, 0, 0.8);
$color-black-lightest: rgba(0, 0, 0, 0.1);

$color-yellow: rgb(251, 203, 3);
$color-yellow-darker: rgb(230, 185, 1);

